<app-navbar></app-navbar>

<div class="uk-position-center uk-overlay uk-overlay-default" id="d">
        
        
    <form >

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" ngModel name="email">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" type="password"  ngModel name="password">
        </div>
    </div>
    <button type="submit" class="btn btn-success" style="width: 100%;" routerLink="/myproduct">Login</button>
    
    <br>
    <br>
    <button type="submit" class="btn btn-info" style="width: 100%;">Forget Password </button>

</form>



</div>