<!--nav>
    <div class="onglets"> 
      
      <a  class="logo"  >_iPhotos </a> 
    
      <a routerLink="/home"> Home</a> <br>
      <a routerLink="/acheter"> Acheter des contenus</a> 
     
    </div>
    <div class="buttons"> 
       
         <button routerLink="/login" class="re">Connexion</button>
        <button routerLink="/register" class="re">S'inscrire</button>
   </div>
</nav-->
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="\assets\photos\Captureu8.PNG"
          style="height: 100px;  width: 100px;"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/acheter">Acheter des contenus</a>
          </li>
          
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center" id="buttons">
        <!-- Icon -->
        <a routerLink="/login" >
         <button class="btn btn-primary"> Connexion</button>
        </a>
  
        <a routerLink="/register">
            <button class="btn btn-primary"> S'inscrire</button>
           </a>
        <!-- Avatar -->
         
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->