header{
    margin-top:40px ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:700px 700px;
}
header h1{
    text-align:center;
    font-size: 60px;
    padding: 150px;
    color: rgb(196, 17, 46);
  
}
h3{
    font-weight: bold;
    color: rgb(12, 11, 12); 
}
h4{
   color: rgb(196, 17, 46); 
   font-weight: bolder;
}