<app-navbar></app-navbar>

   <!--div> 

    <h1> Partagez votre travail et commencez à gagner de l’argent. </h1>
   </div-->
   <!-- Background image -->
<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
  height: 400px;
"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Partagez votre travail et commencez à gagner de l’argent.</h1>
<br>
<br><br><br>
    </div>
  </div>
</div>
</div>
<!-- Background image -->
    <header>

   <div class="uk-section  ">
    <div class="uk-container">

        <div class="uk-panel uk-light uk-margin-medium">
           
            <h3>Devenez contributeur</h3>
        </div>

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
           
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h4>Créer</h4>
                    <p>Produisez des images et vidéos de grande qualité que nos clients pourront télécharger.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h4>Envoyer</h4>
                    <p>Mettez votre contenu en ligne à l’aide de notre plate-forme facile à utiliser et bénéficiez de conseils pour réussir.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h4>Faites-vous payer</h4>
                    <p>Gagnez de l’argent dès qu’un de nos clients du monde entier télécharge l’un de vos contenus.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h4>Parrainer</h4>
                    <p>Gagnez encore plus en parrainant de nouveaux contributeurs et clients.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>
